html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App,
.chart-area {
  height: 100%;
  width: 100%;
}

.chart-line {
  stroke-width: 2;
  stroke: #48bb78;
  fill: none;
}

.chart-marker {
  stroke: #22543d;
  stroke-width: 2;
  fill: #c6f6d5;
}
